manifest {
	author = "Christian Schudoma, Daniel Podlesny"
	defaultBranch = "main"
	description = "Metaphlan4/samestr workflow"
	name = "samestr_flow"
	nextflowVersion = ">=22.10.6"
	version = "0.8"
}

process {

	errorStrategy = { task.attempt <= 3 ? "retry" : "ignore" }
	maxRetries = 3
	cache = "lenient"

	withName: prepare_fastqs {
		// no scratch dir, no container!
		executor = "local"
		container = null
		scratch = null
	}

}


params {
	publish_mode = "copy"
}

docker { 
	enabled = true
}