manifest {
	author = "Christian Schudoma, Daniel Podlesny"
	defaultBranch = "main"
	description = "Metaphlan4/samestr workflow"
	name = "samestr_flow"
	nextflowVersion = ">=22.10.6"
	version = "0.14.0"
}

process {

	errorStrategy = { task.attempt <= 3 ? "retry" : "ignore" }
	maxRetries = 3
	cache = "lenient"

	withName: prepare_fastqs {
		// no scratch dir, no container!
		executor = "local"
		container = null
		scratch = null
	}

}


params {
	publish_mode = "copy"
	run_samestr = true
	input_dir = null
	input_dir_structure = "tree"
	output_dir = null
	mp4_db = null
	samestr_marker_db = null
	
	run_preprocessing = true
    remove_host = false
    drop_orphans = false
    qc_minlen = 45
    qc_params_shotgun = "maq=3 qtrim=rl trimq=21 ktrim=r k=23 mlf=0.5 mink=11 hdist=1 entropy=0.5 entropywindow=50 entropyk=5 tpe tbo"
    remove_host_kraken2_db = null
    kraken2_min_hit_groups = 10
}

docker { 
	enabled = true
}
