executor {
	$slurm {
		queueSize = 300
	}
	$local {
		cpus = 1
		memory = '4 GB'
	}
}

samestr_container = "docker://ghcr.io/danielpodlesny/samestr:v1.2025.102"


process {
	// queue = ""
	cache = "lenient"
	clusterOptions = ""
	executor = "slurm"
	errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
	maxRetries = 3

	withName: prepare_fastqs {
		executor = "local"
		container = null
		scratch = null
	}
	withName: hostile {
		cpus = 4
		memory = {16.GB * task.attempt}
		time = {2.h * task.attempt}
	}
	withName: fastqc {
		cpus = 2
		memory = {4.GB * task.attempt}
		time = {4.h * task.attempt}
	}
	withLabel: bbduk {
        cpus = 4
        memory = {8.GB * task.attempt}
        time = {8.h * task.attempt}
    }
    withName: merge_single_fastqs {
        cpus = 1
        memory = {32.GB * task.attempt}
        time = {2.d * task.attempt}
    }
    withName: run_metaphlan4 {
        publishDir = [
			[ path: params.output_dir + "/mp4_profiles/", mode: "copy", pattern: "*.txt" ],
			[ path: params.output_dir + "/mp4_sam/", mode: "copy", pattern: "*.sam.bz2" ]
		]
        cpus = 8
        memory = {64.GB * task.attempt}
        time = {2.d * task.attempt}
    }
    withName: collate_metaphlan4_tables {
        publishDir = [ path: params.output_dir, mode: "copy" ]
        executor = "local"
        time = { 2.hours * task.attempt }
    }
    withName: run_samestr_convert {
		publishDir = [ path: params.output_dir, mode: "copy" ]
        container = samestr_container
        memory = { 8.GB * task.attempt }
        time = { 2.hours * task.attempt }
    }
    withName: run_samestr_merge {
        publishDir = [ path: params.output_dir, mode: "copy" ]
        container = samestr_container
        memory = { 8.GB * task.attempt }
        time = { 2.hours * task.attempt }
    }
    withName: run_samestr_filter {
        publishDir = [ path: params.output_dir, mode: "copy" ]
        container = samestr_container
        memory = { 8.GB * task.attempt }
        time = { 2.hours * task.attempt }
    }
    withName: run_samestr_stats {
		publishDir = [ path: params.output_dir, mode: "copy" ]
        container = samestr_container
        memory = { 8.GB * task.attempt }
        time = { 4.h * task.attempt }
    }
	withName: run_samestr_compare {
		publishDir = [ path: params.output_dir, mode: "copy" ]
        container = samestr_container
        memory = { 16.GB * task.attempt }
        time = { 1.d * task.attempt }
    }
    withName: run_samestr_summarize {
        publishDir = [ path: params.output_dir, mode: "copy" ]
		container = samestr_container
        memory = { 8.GB * task.attempt }
        time = { 1.d * task.attempt }
    }
    withName: fastqc {
        cpus = 2
        memory = { 4.GB * task.attempt}
        time = { 4.h * task.attempt}
    }
    withName: multiqc {
        cpus = 1
        memory = {4.GB * task.attempt}
        time = { 4.h * task.attempt}
    }
    withName: collate_stats {
        executor = "local"
        container = null
        scratch = null
    }
}


singularity {
	enabled = true
	autoMounts = true
}